<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - MyWeb</title>
</head>
<body>
    <nav>MyWeb:
        <a href="{{url_for('index')}}">Home</a>|
    </nav>
    <hr>
    <form action="{{url_for('index')}}" method="POST">
        <input type='submit' name='submit_button' value='do'>
        <input type='submit' name='submit_button' value='nomore'>
    </form>

    {%block content%}{%endblock%}
</body>
</html>